[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = {extras = ["standard"], version = "*"}
pydantic = "*"
langchain-community = "*"
langchain-ollama = "*"
langgraph = "*"

[dev-packages]

[requires]
python_version = "3.12"
